.paper-item {
    list-style: none;
}

.papers {
    list-style-type: none;
}

#tooltip {
    position: absolute;
    display: none;
    margin-left: 15px;
    padding: 3px;
    position: absolute;
    z-index: 1000;
    text-shadow:
      -1px -1px 0 #FFF,
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
      1px 1px 0 #FFF;
    pointer-events: none;
}

.wp-color {
    background-color: #888;
    width: 100%;
    height: 100%;
}

#loading-scren {
    background-color: aqua;
    width: max-content;
    height: max-content;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.container-fluid {
    padding: 0 !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}